body {

}

.tweet-icon {
	float:left; margin:1%;
}

.tweet-header {
	font-size: medium;
	text-align:right;
}

.tweet-text {
	font-size: medium;
}

.tweet-link {
	font-size: medium;
	color: #0000ff;
}

ul.narrow { margin: 1%; padding:1%; line-height:80%; }

.ui-li .ui-btn-text a.ui-link-inherit {
    white-space: normal !important;
}

.ui-icon-arrow-r {
	display: none !important;
}
