<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/Twaser" version="1.0.1" viewmodes="maximized">
    <tizen:application id="xutBNZdcYm.Twaser" package="xutBNZdcYm" required_version="2.2"/>
    <content src="index.html"/>
    <tizen:content-security-policy>connect-src 'self' https://api.twitter.com;</tizen:content-security-policy>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Twaser</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
</widget>
